<div class="container">
    <div class="row">

            <div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">
                    <div class="ui-block">
                        <div class="ui-block-title">
                            <h6 class="title">Estudiantes</h6>
                        </div>
        
                        <!-- W-Playlist -->
                        
                        <ol class="widget w-playlist">
                            <li (click)="show( item )" class="js-open-popup" *ngFor="let item of studentList">
                                
                                    <div class="author-thumb mr-2">
                                            <img alt="author" src="assets/img/avatar62-sm.jpg" class="avatar">
                                        </div>                                
                                <!-- <div class="playlist-thumb">
                                    <img src="assets/img/playlist6.jpg" alt="thumb-composition">
                                </div> -->
                        
                                <div class="composition">
                                    <a [routerLink]="[]" class="composition-name">{{item.name}}</a>
                                    <a [routerLink]="[]" class="composition-author">{{item.lastName}}</a>
                                </div>
                        
                                <div class="composition float-right">
                                    <!-- <a href=""><span class="items-round-little bg-breez">2</span></a> -->
                                    <a [routerLink]="[]" class="composition-author">5</a>
                                    <!-- <time class="published" datetime="2017-03-24T18:18">5</time> -->
                                </div>
                            </li>
                        </ol>
                        
                        <!-- .. end W-Playlist -->
                    </div>
                </div>



        <!-- <div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
            <div class="ui-block">
                <div class="your-profile">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">Cuaderno de Comunicados</h6>
                    </div>
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Estudiantes
                                        <svg class="olymp-dropdown-arrow-icon">
                                            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon">
                                            </use>
                                        </svg>
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="ui-block-title" *ngFor="let item of studentList" style=>
                                    <a [routerLink]="[]" routerLinkActive="active" class="text-muted">
                                        {{item.name}} {{item.lastName}}
                                    </a>
                                    <a class="items-round-little bg-blue text-white">4</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="col col-xl-7 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Comunicados de: Malena Lopez</h6>
                    <form class="w-search col-6 pr-0">
                        <div class="form-group with-button is-empty float-right">
                            <input class="form-control" type="text" placeholder="Buscar...">
                            <button>
								<svg class="olymp-magnifying-glass-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
							</button>
                            <span class="material-input"></span>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Post -->
            <div class="ui-block" *ngFor="let item of commsList">

                <article class="hentry post has-post-thumbnail">

                    <div class="post__author author vcard inline-items">
                        <img src="assets/img/author-page.jpg" alt="author">

                        <div class="author-date">
                            <a class="h6 post__author-name fn" href="02-ProfilePage.html">{{item.user.name}}</a>
                            <div class="post__date">
                                <time class="published" datetime="2017-03-24T18:18">
                                        {{item.sent.seconds * 1000 | date:'dd MMM yy HH:mm:ss'}}
                                    </time>
                            </div>
                        </div>

                        <!-- <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                            <ul class="more-dropdown">
                                <li>
                                    <a href="#">Edit Post</a>
                                </li>
                                <li>
                                    <a href="#">Delete Post</a>
                                </li>
                                <li>
                                    <a href="#">Turn Off Notifications</a>
                                </li>
                                <li>
                                    <a href="#">Select as Featured</a>
                                </li>
                            </ul>
                        </div> -->

                    </div>

                    <p> {{item.message}} </p>

                    <div class="post-thumb" *ngIf="item.image">
                        <img src="assets/img/post__thumb2.jpg" alt="photo">
                    </div>

                    <div class="post-additional-info inline-items">

                        <!-- <a href="#" class="post-add-icon inline-items">
                            <svg class="olymp-heart-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
                            <span>15</span>
                        </a>

                        <ul class="friends-harmonic">
                            <li>
                                <a href="#">
                                    <img src="assets/img/friend-harmonic5.jpg" alt="friend">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/friend-harmonic10.jpg" alt="friend">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/friend-harmonic7.jpg" alt="friend">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/friend-harmonic8.jpg" alt="friend">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/friend-harmonic2.jpg" alt="friend">
                                </a>
                            </li>
                        </ul>

                        <div class="names-people-likes">
                            <a href="#">Diana</a>, <a href="#">Nicholas</a> and
                            <br>47 more liked this
                        </div>


                        <div class="comments-shared">
                            <a href="#" class="post-add-icon inline-items">
                                <svg class="olymp-speech-balloon-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
                                <span>16</span>
                            </a>

                            <a href="#" class="post-add-icon inline-items">
                                <svg class="olymp-share-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
                                <span>0</span>
                            </a>
                        </div> -->


                    </div>

                    <div class="control-block-button post-control-button">

                        <div *ngIf="item.read > 0; then read;else unread"></div>
                        <ng-template #read>
                            <a class="btn btn-control bg-success" data-toggle="tooltip" data-placement="right" data-original-title="Leído">
                                <svg>
                                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-check-icon"></use>
                                </svg>
                            </a>

                        </ng-template>

                        <ng-template #unread>
                            <a [routerLink]="[]" (click)="markAsRead( item )" class="btn btn-control bg-danger" data-toggle="tooltip" data-placement="right" data-original-title="Notificar Lectura">
                                <svg>
                                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-info-icon"></use>
                                </svg>
                            </a>

                        </ng-template>

                    </div>

                </article>

                <!-- ... end Post -->

            </div>
        </div>

    </div>
</div>