<div class="container">
    <div class="row">
        <div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
            <div class="ui-block">

                <!-- Your Profile  -->

                <div class="your-profile">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">Cuaderno de Comunicados</h6>
                    </div>

                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Estudiantes
                                        <svg class="olymp-dropdown-arrow-icon">
                                            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon">
                                            </use>
                                        </svg>
                                    </a>
                                </h6>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="ui-block-title">
                                    <span class=" ">Malena Lopez</span>
                                    <span class="items-round-little bg-primary">8</span>
                                </div>

                                <div class="ui-block-title">
                                    <a href="34-YourAccount-ChatMessages.html" class=" ">Luisana Lopez</a>
                                    <a href="#" class="items-round-little bg-blue">4</a>
                                </div>
                                <!-- <ul class="your-profile-menu">
                                            <li class="col-12">
                                                <a href="33-YourAccount-Notifications.html" class="col-4">Notifications</a>
                                                <a href="#" class="items-round-little bg-primary col-8">8</a>
                                            </li>
                                            <li>
                                                <a href="29-YourAccount-AccountSettings.html">Luisna Lopez</a>
                                                <a href="#" class="items-round-little bg-primary">8</a>
                                            </li>
                                        </ul> -->
                            </div>
                        </div>
                    </div>

                    <!-- <div class="ui-block-title">
                                <a href="33-YourAccount-Notifications.html" class="h6 title">Malena Lopez</a>
                                <a href="#" class="items-round-little bg-primary">8</a>
                            </div>
                            <div class="ui-block-title">
                                <a href="34-YourAccount-ChatMessages.html" class="h6 title">Luisana Lopez</a>
                                <a href="#" class="items-round-little bg-blue">4</a>
                            </div>
                            <div class="ui-block-title">
                                <a href="35-YourAccount-FriendsRequests.html" class="h6 title">Friend Requests</a>
                                <a href="#" class="items-round-little bg-blue">4</a>
                            </div>
                            <div class="ui-block-title ui-block-title-small">
                                <h6 class="title">FAVOURITE PAGE</h6>
                            </div>
                            <div class="ui-block-title">
                                <a href="36-FavPage-SettingsAndCreatePopup.html" class="h6 title">Create Fav Page</a>
                            </div>
                            <div class="ui-block-title">
                                <a href="36-FavPage-SettingsAndCreatePopup.html" class="h6 title">Fav Page Settings</a>
                            </div> -->
                </div>

                <!-- ... end Your Profile  -->

            </div>



        </div>
        <div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Comunicados de: Malena Lopez</h6>
                    <form class="w-search">
                        <div class="form-group with-button is-empty col-6 float-right">
                            <input class="form-control" type="text" placeholder="Buscar...">
                            <button>
								<svg class="olymp-magnifying-glass-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
							</button>
                            <span class="material-input"></span></div>
                    </form>
                </div>
            </div>

            <!-- Post -->
            <div class="ui-block" *ngFor="let item of commsList">

                <article class="hentry post has-post-thumbnail">

                    <div class="post__author author vcard inline-items">
                        <img src="assets/img/author-page.jpg" alt="author">

                        <div class="author-date">
                            <a class="h6 post__author-name fn" href="02-ProfilePage.html">{{item.user.name}}</a>
                            <div class="post__date">
                                <time class="published" datetime="2017-03-24T18:18">
                                        {{item.sent.seconds * 1000 | date:'dd MMM yy'}}
                                    </time>
                            </div>
                        </div>

                        <!-- <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                            <ul class="more-dropdown">
                                <li>
                                    <a href="#">Edit Post</a>
                                </li>
                                <li>
                                    <a href="#">Delete Post</a>
                                </li>
                                <li>
                                    <a href="#">Turn Off Notifications</a>
                                </li>
                                <li>
                                    <a href="#">Select as Featured</a>
                                </li>
                            </ul>
                        </div> -->

                    </div>

                    <p> {{item.message}} </p>

                    <div class="post-thumb" *ngIf="item.image">
                        <img src="assets/img/post__thumb2.jpg" alt="photo">
                    </div>

                    <div class="post-additional-info inline-items">

                        <!-- <a href="#" class="post-add-icon inline-items">
                            <svg class="olymp-heart-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
                            <span>15</span>
                        </a>

                        <ul class="friends-harmonic">
                            <li>
                                <a href="#">
                                    <img src="assets/img/friend-harmonic5.jpg" alt="friend">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/friend-harmonic10.jpg" alt="friend">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/friend-harmonic7.jpg" alt="friend">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/friend-harmonic8.jpg" alt="friend">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/friend-harmonic2.jpg" alt="friend">
                                </a>
                            </li>
                        </ul>

                        <div class="names-people-likes">
                            <a href="#">Diana</a>, <a href="#">Nicholas</a> and
                            <br>47 more liked this
                        </div>


                        <div class="comments-shared">
                            <a href="#" class="post-add-icon inline-items">
                                <svg class="olymp-speech-balloon-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
                                <span>16</span>
                            </a>

                            <a href="#" class="post-add-icon inline-items">
                                <svg class="olymp-share-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
                                <span>0</span>
                            </a>
                        </div> -->


                    </div>

                    <div class="control-block-button post-control-button">

                        <div *ngIf="item.read > 0; then read;else unread"></div>
                        <ng-template #read>
                            <a class="btn btn-control bg-success">
                                <svg><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-check-icon"></use></svg>
                                <!-- <svg class="olymp-like-post-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg> -->
                            </a>

                        </ng-template>

                        <ng-template #unread>
                            <a [routerLink]="" (click)="show( item )" class="btn btn-control bg-danger">
                                <svg><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-info-icon"></use></svg>
                                <!-- <svg class="olymp-like-post-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg> -->
                            </a>

                        </ng-template>

                    </div>

                </article>

                <!-- ... end Post -->

            </div>
        </div>

    </div>
</div>