<section class="mt-0">
    <div class="container">
        <div #map style="height: 480px">
        </div>
    </div>
</section>

<section class="medium-padding120">
    <div class="container">
        <div class="row">
            <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <!-- Contact Item -->
                <div class="contact-item-wrap">
                    <h3 class="contact-title">Olympus HQ</h3>
                    <div class="contact-item">
                        <a href="#">254 W58th St, New York NY 10001, USA</a>
                    </div>
                    <div class="contact-item">
                        <h6 class="sub-title">General Inquiries:</h6>
                        <a href="mailto:">hqinquiries@olympus.com</a>
                    </div>
                </div>
                <!-- ... end Contact Item -->
            </div>

            <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <!-- Contact Item -->
                <div class="contact-item-wrap">
                    <h3 class="contact-title">Press and Media</h3>
                    <div class="contact-item">
                        <h6 class="sub-title">Jenny Stevens:</h6>
                        <a href="mailto:">jennymedia@olympus.com</a>
                    </div>
                    <div class="contact-item">
                        <h6 class="sub-title">Skype:</h6>
                        <a href="#">Stevens Press</a>
                    </div>
                </div>
                <!-- ... end Contact Item -->
            </div>
            <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <!-- Contact Item -->
                <div class="contact-item-wrap">
                    <h3 class="contact-title">Business Chat</h3>
                    <div class="contact-item">
                        <h6 class="sub-title">Marc Jackson:</h6>
                        <a href="mailto:">jacksonbusiness@olympus.com</a>
                    </div>
                    <div class="contact-item">
                        <h6 class="sub-title">Skype:</h6>
                        <a href="#">Jackson Business</a>
                    </div>
                </div>
                <!-- ... end Contact Item -->
            </div>
            <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <!-- Contact Item -->
                <div class="contact-item-wrap">
                    <h3 class="contact-title">Human Resources</h3>
                    <div class="contact-item">
                        <h6 class="sub-title">Stella Karenson:</h6>
                        <a href="mailto:">stellahhrr@olympus.com</a>
                    </div>
                    <div class="contact-item">
                        <h6 class="sub-title">Skype:</h6>
                        <a href="#">Karenson HHRR</a>
                    </div>
                </div>
                <!-- ... end Contact Item -->
            </div>
        </div>
    </div>
</section>

<section class="medium-padding120 bg-body contact-form-animation scrollme">
    <div class="container">
        <div class="row">
            <div class="col col-xl-10 col-lg-10 col-md-12 col-sm-12  m-auto">
                <!-- Contacts Form -->
                <div class="contact-form-wrap">
                    <div class="contact-form-thumb">
                        <h2 class="title">SEND US <span>A RAVEN</span></h2>
                        <p>Do you have general questions about Olympus Social Network? Send us a raven and we’ll answer
                            you as fast as we can!</p>
                        <img src="assets/img/crew.png" alt="crew" class="crew">
                    </div>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">First Name</label>
                                    <input class="form-control" placeholder="" type="text" value="James">
                                </div>
                            </div>
                            <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Last Name</label>
                                    <input class="form-control" placeholder="" type="text" value="Spiegel">
                                </div>
                            </div>
                            <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Your Email</label>
                                    <input class="form-control" placeholder="" type="email"
                                        value="james-spiegel@yourmail.com">
                                </div>

                                <div class="form-group label-floating is-select">
                                    <label class="control-label">Inquiry Subject</label>
                                    <select class="selectpicker form-control">
                                        <option value="AC">Olympus Account Inquiries</option>
                                        <option value="AC">Olympus Account Inquiries</option>
                                    </select>
                                </div>

                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Your Message</label>
                                    <textarea class="form-control" placeholder=""></textarea>
                                </div>

                                <button class="btn btn-purple btn-lg full-width">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- ... end Contacts Form -->
            </div>
        </div>
    </div>

    <div class="half-height-bg bg-white"></div>
</section>